:root {
  --background: #000000;
  --foreground: #EEEEEE;
  --terminal-background: #00BB40, #113311;
  --corner-radius: 8px;
  --content-width: 90dvw;
}

body {
  margin: 0px;
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100dvh;
  margin: auto;
  grid-gap: 15px;
  width: var(--content-width);
}

h1 {
  text-align: center;
}

.terminal {
  display: block;
  box-sizing: border-box;
  white-space: pre;
  border-radius: var(--corner-radius);
  background: url(scanlines.png) center, radial-gradient(circle, var(--terminal-background));
  text-align: center;
}

canvas {
  width: 470px;
  height: 50px;
  image-rendering: pixelated;
  filter: invert(0)
}
